<!DOCTYPE html>
<html>
  <head>
    <title>Find most popular songs</title>
  </head>
  <script type=text/javascript>
    const fetchSongs = () => {

      const button = document.querySelector('button')
      button.disabled = true

      const genresElement = document.getElementById("genres");
      const selectedGenre = genresElement.value;
      const url = {{url_for("tracks", genre=selectedGenre)}};

      const xmlHttp = new XMLHttpRequest();
      xmlHttp.onreadystatechange = () => { 
        if (xmlHttp.readyState == 4) {
          button.disabled = false
          if (xmlHttp.status == 200) {
            const songs = JSON.parse(xmlHttp.responseText);
            createSongList(songs);
          } else if (xmlHttp.status == 404)  {
            alert("Genre is unknown.");
          } else {
            alert("A problem occured.");
          }
        }
      }
      xmlHttp.open("GET", url + selectedGenre, true);
      xmlHttp.send(null);
    };

    const createSongList = (songs) => {
      const songHolder = document.getElementById("song_holder");
      songHolder.innerHTML = '';

      const holder = document.createElement("tr");
      const thTrack = document.createElement("th");
      const thArtist = document.createElement("th");
      const thReleaseDate = document.createElement("th");
      const thImage = document.createElement("th");

      thTrack.textContent = "Track";
      thArtist.textContent = "Artist";
      thReleaseDate.textContent = "Release Date";
      thImage.textContent = "Album Cover";

      holder.appendChild(thTrack);
      holder.appendChild(thArtist);
      holder.appendChild(thReleaseDate);
      holder.appendChild(thImage);

      songHolder.appendChild(holder);

      songs.forEach(song => {
        const songElement = createSongRow(song);
        songHolder.appendChild(songElement);
      });
    };

    const createSongRow = ({track, artist, release_date, album_image_url}) => {

      const holder = document.createElement("tr");
      const tdTrack = document.createElement("td");
      const tdArtist = document.createElement("td");
      const tdReleaseDate = document.createElement("td");
      const tdImage = document.createElement("td");
      const image = document.createElement("img");

      tdTrack.textContent = track;
      tdArtist.textContent = artist;
      tdReleaseDate.textContent = release_date;
      
      image.src = album_image_url;
      image.style.maxWidth = "100px";
      tdImage.appendChild(image);

      holder.appendChild(tdTrack);
      holder.appendChild(tdArtist);
      holder.appendChild(tdReleaseDate);
      holder.appendChild(tdImage);

      return holder;
    };
  </script>
  <body>
    <div>
      <!-- disabled to convert dropdown into a textbox
      <label for="genres">Choose a genre:</label>
      <select name="genres" id="genres">
        {% for genre in genre_list %}
        <option value="{{genre}}">{{genre}}</option>
        {% endfor %}
      </select>
      -->
      <label for="genres">Please enter a genre:</label>
      <input id="genres" type="text" placeholder="Genre"></input>
      <button id="button" onclick="fetchSongs()">Submit</button>
      <table id="song_holder">

      </table>
    </div>
  </body>
</html>
